#include "shm.h"
	<!--(macro CVALUE)-->
<!--(if value is True)-->true<!--(elif value is False)-->false<!--(else)-->$!value!$<!--(end)-->
	<!--(end)-->

Shm& Shm::get() {
	static Shm shm{{
		<!--(for g_name, g_vars in sorted(shm.items()))-->
		{"$!g_name!$", {
			<!--(for v_name, v_info in sorted(g_vars.items()))-->
			{"$!v_name!$", $!CVALUE(value=v_info.value)!$, $!v_info.tag!$},
			<!--(end)-->
		}},

		<!--(end)-->
	}};

	return shm;
}
