__pycache__/
.ropeproject/
*.pyc
*.pb.*
*.gch
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

/jankcopter
/copter/src/shm.cpp
/copter/src/shm.h
/handheld/src/shm.cpp
/handheld/src/shm.h
/client/shmdef.go
