__pycache__/
.ropeproject/
*.pyc
*.pb.*
*.gch
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

/jankdrone
/drone/src/shm.cpp
/drone/src/shm.h
/handheld/src/shm.cpp
/handheld/src/shm.h
/client/shmdef.go
/shm/shm.pb.g0
